email=ozifqx2009@163.pbz
branch=dev-esp32
modules=adc,bit,can,crypto,dac,dht,encoder,eth,file,gpio,http,i2c,i2s,ledc,mqtt,net,node,otaupgrade,ow,pulsecnt,qrcodegen,sdmmc,sigma_delta,sjson,sodium,spi,struct,time,tmr,touch,uart,wifi,ws2812
ssl-enabled=false
debug-enabled=false
fatfs-enabled=false
u8g-fonts=font_6x10,font_chikita
u8g-display-i2c=
u8g-display-spi=
ucg-display-spi=
lfs-size=0
spiffs-base=0
spiffs-size=0
