email=efk@jc.cy
branch=master
modules=bit,file,gpio,i2c,net,node,ow,spi,tmr,u8g2,uart,wifi
ssl-enabled=false
debug-enabled=false
fatfs-enabled=false
u8g-fonts=font_logisoso22_tn,font_logisoso24_tn,font_helvR24_tn,font_fub25_tr
u8g-display-i2c=ssd1306_i2c_128x64_noname
u8g-display-spi=ssd1306_128x64_noname
ucg-display-spi=
lfs-size=0
spiffs-base=0
spiffs-size=0
