email=q.cvgvxbi@tznvy.pbz
branch=master
modules=adc,bmp085,color_utils,file,gpio,http,i2c,mqtt,net,node,pwm,sjson,sntp,spi,tmr,uart,wifi,ws2812,ws2812_effects,tls
ssl-enabled=true
debug-enabled=false
fatfs-enabled=false
u8g-fonts=
u8g-display-i2c=ld7032_i2c_60x32
u8g-display-spi=il3820_v2_296x128
ucg-display-spi=
lfs-size=0x10000
spiffs-base=0x100000
spiffs-size=0
